{% extends 'teachers/base.html' %}

{% load static %}

{% block title %} Détail de Matières {% endblock %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


<div class="container py-5">
  <form method="post">
    {% csrf_token %}
    <fieldset class="border p-4 mt-5">
      <legend class="w-auto p-2 text-center">Ajouter un cours</legend>

      <div class="row mb-3 mt-3">
        <div class="col-md-2">
          <label for="id_course_title" class="form-label">Code du cours</label>
        </div>
        <div class="col-md-10">
          {{ form.course_code }}
        </div>
        {% if form.add_errors %}
        <div class="row">{{ form.course_code.error }}</div>
        {% endif %}
      </div>

      <div class="row mb-3">
        <div class="col-md-2">
          <label for="id_course_title" class="form-label">Titre du cours</label>
        </div>
        <div class="col-md-10">
          {{ form.course_title }}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-2">
          <label for="id_content_text" class="form-label">Contenu du cours</label>
        </div>
        <div class="col-md-10">
          {{ form.text_content }}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-2">
          <label for="id_course_level" class="form-label">Niveau du cours</label>
        </div>
        <div class="col-md-10">
          {{ form.course_level }}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-2">
          <label for="id_is_premium" class="form-label">Premium</label>
        </div>
        <div class="col-md-10">
          {{ form.is_premium }}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-2">
          <label for="id_difficulty" class="form-label">Difficulté</label>
        </div>
        <div class="col-md-10">
          {{ form.difficulty }}
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12 col-md-4 mb-2 mb-md-0">
          <button type="reset" class="btn btn-danger w-100">Annuler</button>
        </div>
        <div class="col-12 col-md-4">
          <button type="submit" class="btn btn-success w-100">Enregistrer</button>
        </div>
      </div>

      {% if form.course_title.errors %}
      <div class="row">
        {% for error in form.course_title.errors %}
        <div class="col text-danger">
          {{ error }}
        </div>
        {% endfor %}
      </div>
    {% endif %}

    </fieldset>
  </form>
</div>

{% endblock %}
