{% load static %}
{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">

    <style>
        /* Ajouter des styles personnalisés ici si nécessaire */
        body {
            padding-top: 20px;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center mb-4">Aide - Réinitialisation du mot de passe</h1>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Comment réinitialiser votre mot de passe ?</h5>
                        <p class="card-text">Suivez ces étapes simples pour réinitialiser votre mot de passe :</p>
                        <ol class="mb-4">
                            <li>Visitez notre site web.</li>
                            <li>Cliquez sur le lien "Mot de passe oublié" ou "Réinitialiser mot de passe" sur la page de connexion.</li>
                            <li>Renseignez votre adresse e-mail associée à votre compte.</li>
                            <li>Un e-mail de réinitialisation de mot de passe vous sera envoyé avec un lien unique.</li>
                            <li>Cliquez sur le lien dans l'e-mail et suivez les instructions pour choisir un nouveau mot de passe sécurisé.</li>
                        </ol>
                        <p class="card-text">Si vous rencontrez des difficultés pour réinitialiser votre mot de passe, veuillez nous contacter :</p>
                        <ul class="list-unstyled">
                            <li><i class="fas fa-envelope"></i> <a href="mailto:support@monapplication.com">support@monapplication.com</a></li>
                            <li><i class="fas fa-envelope"></i> <a href="mailto:devseniors2024@gmail.com">devseniors2024@gmail.com</a></li>
                            <li><i class="fas fa-phone"></i> +226 64 99 34 41 / 226 79 00 44 21</li>
                        </ul>
                    </div>
                </div>
                 <a href="{% url 'help' %}" class="btn btn-primary mt-4 fade-in">Retour</a>
            </div>
        </div>
    </div>
{% endblock%}
