<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enregistrement enseignant</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container py-3">
        <p class="text-center">Welcome bienvenu(e) cher futur(e) enseignant(e) sur notre plateforme</p>
        <div class="mx-auto border p-3">
            <p>Nous avons bien reçu votre interet à être enseignant(e) sur notre plateforme la plus recherchée par tous</p>
            <p>Nous connaissons votre engagement dans le partage de vos connaissances utiles pour le monde</p>
        </div>
        <div class="row mx-auto border p-3">
            <p>L'inscription se fait pour le moment par les contacts vu l'importance ultime que nous accordons à la connaissance</p>
            <p>Veillez prendre contact avec ses numeros pour une suite favorable</p>
            <span class="p-2"><a href="mailto:devseniors2024@gmail.com">devseniors2024@gmail.com</a></span>
            <div class=col>
                <i class="fa fas-tel"></i>
                <span class="border rounded p-2">+226 79 00 44 21</span>
            </div>
            <div class=col>
                <i class="fa fas-tel"></i>
                <span class="border rounded p-2">+226 79 00 44 21</span>
            </div>
        </div>
    </div>
</body>
</html>